<!-- Pre-loader -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-offset-5 text-center">
            <div ng-hide="user_status" class="pre-loading-spinner">
                <span><i class="fa fa-spinner fa-3x fa-spin"></i></span>
            </div>
        </div>
    </div>
</div>

<div ng-show="user_auth.account_type=='doctor'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="">Dashboard <span class="sr-only">(current)</span></a></li>
                </ul>
                <!--<ul class="nav nav-sidebar">-->
                <!--<li><a href="">Nav item</a></li>-->
                <!--<li><a href="">Nav item again</a></li>-->
                <!--<li><a href="">Another nav item</a></li>-->
                <!--<li><a href="">More navigation</a></li>-->
                <!--</ul>-->

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Patients</h1>

                <a class="btn btn-success fa fa-plus" href="#/addpatient" role="button">Add New Patient</a>

                <div class="table-responsive">
                    <div class="panel panel-primary">
                        <div class="panel-heading">List of Patients
                            <div class="sw-search" >
                                <div class="nav-search" id="nav-search">
                                    Filter: <span class="input-icon">
                                <input placeholder="Filter patients list ..." class="nav-search-input" ng-model="filterPatient" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                                <i class="search-icon fa fa-search nav-search-icon"></i>
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr ng-show="patients.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
                                <tr ng-hide="patients.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

                                <tr><th ng-repeat="p in columns">{{p.text}}</th></tr>

                                <tr ng-repeat="p in patients | filter:filterPatient | orderBy:'id'" id="{{p.id_num}}" animate-on-change='p.age' ng-animate="'animate'">
                                    <td><a href="#/patient_dashboard/{{p.$id}}">{{p.$id}}</a></td><td>{{p.first_name}}</td><td>{{p.last_name}}</td><td>{{p.date_of_birth}}</td><td>{{p.gender}}</td>
                                    <td style="width:100px">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default fa fa-edit" ng-click="open(p);"></button>
                                            <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="patients.$remove(p)"></button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div ng-show="user_auth.account_type=='patient'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="">Dashboard <span class="sr-only">(current)</span></a></li>
                    <li><a href="#/doctors/{{user_auth.id_num}}">Doctors</a></li>
                    <li><a href="#/patient_doctor_requests">Doctor Requests</a></li>
                </ul>
                <!--<ul class="nav nav-sidebar">-->
                <!--<li><a href="">Nav item</a></li>-->
                <!--<li><a href="">Nav item again</a></li>-->
                <!--<li><a href="">Another nav item</a></li>-->
                <!--<li><a href="">More navigation</a></li>-->
                <!--</ul>-->

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Patient Dashboard</h1>

                <h3>{{patient.last_name +", "+ patient.first_name}} </h3>
                <h4>Id Num: {{patient.$id}}</h4>
                <a class="btn btn-warning" href="#/patient_info/{{patient.$id}}" role="button">View My Information</a>

                </br>
                </br>

                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="myTabs">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Diagnosis</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Prescriptions</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- Diagnosis Content -->
                        <div role="tabpanel" class="tab-pane active" id="home">

                            </br>
                            <div class="table-responsive">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">History
                                        <!--<div class="sw-search" >-->
                                            <!--<div class="nav-search" id="nav-search">Filter:-->
                                                <!--<span class="input-icon">-->
                                                    <!--<input placeholder="Filter diagnosis list ..." class="nav-search-input" autocomplete="off" type="text" style="width:300px;" focus>-->
                                                    <!--&lt;!&ndash;<input placeholder="Filter diagnosis list ..." class="nav-search-input" autocomplete="off" type="text" style="width:300px;" focus>&ndash;&gt;-->
                                                    <!--<i class="search-icon fa fa-search nav-search-icon"></i>-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped">
                                            <tr ng-show="diagnosis.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>

                                            <tr><th ng-repeat="diag in diag_columns">{{diag.text}}</th></tr>

                                            <!--<tr ng-repeat="diag in diagnosis | filter:filterDiagnosis | orderBy:'id'" id="{{diag.date_time}}" animate-on-change='diag.title' ng-animate="'animate'">-->
                                            <tr ng-repeat="diag in diagnosis" animate-on-change='diag.title' ng-animate="'animate'">
                                                <a href="#/"><td>{{diag.date_time | date:'yyyy-MM-dd' }}</td><td>{{diag.title}}</td><td>{{diag.practice_name}}</td><td>{{diag.doctor_name}}</td></a>

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Prescriptions Content -->
                        <div role="tabpanel" class="tab-pane" id="profile">

                            </br>
                            <div class="table-responsive">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Prescriptions
                                        <!--<div class="sw-search" >-->
                                            <!--<div class="nav-search" id="nav-search">Filter:-->
                                                <!--<span class="input-icon">-->
                                                    <!--<input placeholder="Filter prescriptions list ..." class="nav-search-input" autocomplete="off" type="text" style="width:300px;" focus>-->
                                                    <!--&lt;!&ndash;<input placeholder="Filter diagnosis list ..." class="nav-search-input" autocomplete="off" type="text" style="width:300px;" focus>&ndash;&gt;-->
                                                    <!--<i class="search-icon fa fa-search nav-search-icon"></i>-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped">
                                            <tr ng-show="prescriptions.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>

                                            <tr><th ng-repeat="presc in presc_columns">{{presc.text}}</th></tr>

                                            <!--<tr ng-repeat="diag in diagnosis | filter:filterDiagnosis | orderBy:'id'" id="{{diag.date_time}}" animate-on-change='diag.title' ng-animate="'animate'">-->
                                            <tr ng-repeat="presc in prescriptions" animate-on-change='presc.title' ng-animate="'animate'">
                                                <td>{{presc.date_time | date:'yyyy-MM-dd' }}</td><td>{{presc.title}}</td><td>{{presc.practice_name}}</td><td>{{presc.doctor_name}}</td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

