<div class="container">
    <h3>Doctor Sign Up</h3>
    <form ng-submit="doctorSignUp()">
        <div class="form-group">
            <input ng-model="doctor.first_name" placeholder="First Name"/>
        </div>
        <div class="form-group">
            <input ng-model="doctor.last_name" placeholder="Last Name"/>
        </div>
        <div class="form-group">
            <input ng-model="doctor.email" placeholder="Email"/>
        </div>
        <div class="form-group">
            <input ng-model="doctor.password" placeholder="Password"/>
        </div>
        <div class="form-group">
            <input ng-model="doctor.confirm_password" placeholder="Confirm Password"/>
        </div>
        <div class="form-group">
            <input ng-model="doctor.id_num" placeholder="Id number"/>
        </div>
        <div class="form-group">
            <input ng-model="doctor.practice_number" placeholder="Practice number"/>
        </div>
        <div class="form-group">
            <input ng-model="doctor.practice_name" placeholder="Practice Name"/>
        </div>
        <div class="form-group">
            <input ng-model="doctor.cell_phone" placeholder="Cell Phone"/>
        </div>
        <!--<button class="" type="submit">Add Patient</button>-->
        <div class="btn-group">
            <button type="submit" class="btn btn-success" > Sign Up
            </button>
        </div>
    </form>
</div>