

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#/">Dashboard <span class="sr-only">(current)</span></a></li>
                <li><a href="#/patient_doctors/{{user_auth.id_num}}">Doctors</a></li>
                <li class="active"><a href="#/patient_doctor_requests">Doctor Requests</a></li>
            </ul>
            <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">Nav item</a></li>-->
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
            <!--<li><a href="">More navigation</a></li>-->
            <!--</ul>-->

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Doctor Requests</h1>

            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">List of Requests
                        <div class="sw-search" >
                            <div class="nav-search" id="nav-search">
                                Filter: <span class="input-icon">
                    <input placeholder="Filter Doctor Requests ..." class="nav-search-input" ng-model="filterDoctorRequests" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                    <i class="search-icon fa fa-search nav-search-icon"></i>
                </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr ng-show="doctor_requests.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
                            <tr ng-hide="doctor_requests.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

                            <tr><th ng-repeat="dr in columns">{{dr.text}}</th></tr>

                            <tr ng-repeat="dr in doctor_requests | filter:filterDoctorRequests | orderBy:'id'" id="{{dr.$id}}" animate-on-change='dr.status' ng-animate="'animate'">
                                <td>{{dr.first_name}}</td>
                                <td>{{dr.$id}}</td>
                                <td>{{dr.practice_name}}</td>
                                <td>{{dr.practice_number}}</td>
                                <td style="width:100px">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success fa fa-plus" ng-click="doctorAccept(dr);"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="doctor_requests.$remove(dr)"></button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>