<div ng-show="user_auth.account_type=='doctor'">
    <div class="container">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/">Dashboard <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="">&gt; User Profile <span class="sr-only">(current)</span></a></li>
                </ul>
                <!--<ul class="nav nav-sidebar">-->
                <!--<li><a href="">Nav item</a></li>-->
                <!--<li><a href="">Nav item again</a></li>-->
                <!--<li><a href="">Another nav item</a></li>-->
                <!--<li><a href="">More navigation</a></li>-->
                <!--</ul>-->

            </div>

            <div class="col-md-6 col-md-offset-3">
                <h3>Doctor</h3>
                <input type="checkbox"  ng-model="chkbx_edit_profile" id="chkbx_edit_profile">
                <label for="chkbx_edit_profile">Edit</label>


                <div ng-hide="chkbx_edit_profile">
                <div>
                    </br>
                    <div class="form-group">
                        <label>First Name:</label> {{doctor.first_name}}
                    </div>
                    <div class="form-group"><label>Last Name:</label> {{doctor.last_name}}</div>
                    <div class="form-group"><label>Id Number:</label> {{doctor_id_num}}</div>
                    <div class="form-group"><label>Email:</label> {{doctor.email}}</div>
                    <div class="form-group"><label>Cell phone:</label> {{doctor.cell_phone}}</div>
                    <div class="form-group"><label>Practice Name:</label> {{doctor.practice_name}}</div>
                    <div class="form-group"><label>Practice Number:</label> {{doctor.practice_number}}</div>
                </div>
                </div>

                <div ng-show="chkbx_edit_profile">
                <form ng-submit="updateDoctor(doctor)">
                    <div class="form-group">
                        <label for="firstName" >First Name:</label>
                        <input type="text" id="firstName" class="form-control" ng-model="doctor.first_name" placeholder="First Name" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" class="form-control" ng-model="doctor.last_name" placeholder="Last Name" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="idNum">ID Number:</label>
                        <input type="number" id="idNum" class="form-control" ng-model="doctor.id_num" placeholder="{{doctor_id_num}}" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" class="form-control" ng-model="doctor.email" placeholder="Email" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="cellPhone">Cell Phone:</label>
                        <input type="number" id="cellPhone" class="form-control" ng-model="doctor.cell_phone" placeholder="Cell Phone"/>
                    </div>
                    <div class="form-group">
                        <label for="practiceName">Practice Name:</label>
                        <input type="text" id="practiceName" class="form-control" ng-model="doctor.practice_name" placeholder="Practice Name"/>
                    </div>
                    <div class="form-group">
                        <label for="practiceNumber">Practice Number:</label>
                        <input type="text" id="practiceNumber" class="form-control" ng-model="doctor.practice_number" placeholder="Practice number"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success" >Update</button>
                    </div>
                </form>
                </div>


            </div>
        </div>
    </div>
</div>


<div ng-show="user_auth.account_type=='patient'">
    <div class="container">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#/">Dashboard <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="">&gt; User Profile <span class="sr-only">(current)</span></a></li>
                </ul>
                <!--<ul class="nav nav-sidebar">-->
                <!--<li><a href="">Nav item</a></li>-->
                <!--<li><a href="">Nav item again</a></li>-->
                <!--<li><a href="">Another nav item</a></li>-->
                <!--<li><a href="">More navigation</a></li>-->
                <!--</ul>-->

            </div>

            <div class="col-md-6 col-md-offset-3">
                <h3>Patient</h3>
                <input type="checkbox"  ng-model="chkbx_edit_profile" >
                <label for="chkbx_edit_profile">Edit</label>


                <div ng-hide="chkbx_edit_profile">
                    <div>
                        </br>
                        <div class="form-group">
                            <label>First Name:</label> {{patient.first_name}}
                        </div>
                        <div class="form-group"><label>Last Name:</label> {{patient.last_name}}</div>
                        <div class="form-group"><label>Date of Birth:</label> {{patient.date_of_birth | date:'yyyy-MM-dd' }}</div>
                        <div class="form-group"><label>Id Number:</label> {{patient_id_num}}</div>
                        <div class="form-group"><label>Email:</label> {{patient.email}}</div>
                        <div class="form-group"><label>Cell phone:</label> {{patient.cell_phone}}</div>
                    </div>
                </div>

                <div ng-show="chkbx_edit_profile">
                    <form ng-submit="updatePatient(patient)">
                        <div class="form-group">
                            <label for="pfirstName" >First Name:</label>
                            <input type="text" id="pfirstName" class="form-control" ng-model="patient.first_name" placeholder="First Name" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="plastName">Last Name:</label>
                            <input type="text" id="plastName" class="form-control" ng-model="patient.last_name" placeholder="Last Name" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="pdateOfBirth">Date of Birth:</label>
                            <input type="text" id="pdateOfBirth" class="form-control" ng-model="patient.last_name" placeholder="Last Name" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="pidNum">ID Number:</label>
                            <input type="number" id="pidNum" class="form-control" ng-model="patient.id_num" placeholder="{{patient_id_num}}" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="pemail">Email:</label>
                            <input type="email" id="pemail" class="form-control" ng-model="patient.email" placeholder="Email" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="pcellPhone">Cell Phone:</label>
                            <input type="text" id="pcellPhone" class="form-control" ng-model="patient.cell_phone" placeholder=""/>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success" >Update</button>
                        </div>
                    </form>
                </div>


            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="profileUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                Your profile information has been updated successfully!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="proceed()">Ok</button>

            </div>
        </div>
    </div>
</div>