<div ng-show="user_auth.account_type=='doctor'">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Doctor</h3>
                <input type="checkbox"  ng-model="chkbx_edit_profile" id="chkbx_edit_profile">
                <label for="chkbx_edit_profile">Edit</label>


                <div ng-hide="chkbx_edit_profile">
                <div>
                    </br>
                    <div class="form-group">
                        <label>First Name:</label> {{doctor.first_name}}
                    </div>
                    <div class="form-group"><label>Last Name:</label> {{doctor.last_name}}</div>
                    <div class="form-group"><label>Id Number:</label> {{doctor_id_num}}</div>
                    <div class="form-group"><label>Email:</label> {{doctor.email}}</div>
                    <div class="form-group"><label>Cell phone:</label> {{doctor.cell_phone}}</div>
                    <div class="form-group"><label>Practice Name:</label> {{doctor.practice_name}}</div>
                    <div class="form-group"><label>Practice Number:</label> {{doctor.practice_number}}</div>
                </div>
                </div>

                <div ng-show="chkbx_edit_profile">
                <!--<form ng-submit="doctor.$save(doctor)">-->
                <form ng-submit="doctor.$save(doctor)">
                    <div class="form-group">
                        <label for="firstName" >First Name:</label>
                        <input type="text" id="firstName" class="form-control" ng-model="doctor.first_name" placeholder="First Name" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" class="form-control" ng-model="doctor.last_name" placeholder="Last Name" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="idNum">ID Number:</label>
                        <input type="number" id="idNum" class="form-control" ng-model="doctor.id_num" placeholder="{{doctor_id_num}}" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" class="form-control" ng-model="doctor.email" placeholder="Email" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="cellPhone">Cell Phone:</label>
                        <input type="number" id="cellPhone" class="form-control" ng-model="doctor.cell_phone" placeholder="Cell Phone"/>
                    </div>
                    <div class="form-group">
                        <label for="practiceName">Practice Name:</label>
                        <input type="text" id="practiceName" class="form-control" ng-model="doctor.practice_name" placeholder="Practice Name"/>
                    </div>
                    <div class="form-group">
                        <label for="practiceNumber">Practice Number:</label>
                        <input type="text" id="practiceNumber" class="form-control" ng-model="doctor.practice_number" placeholder="Practice number"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success" >Update</button>
                    </div>
                </form>
                </div>


            </div>
        </div>
    </div>
</div>