<section class="card register">
    <div class="textintro">
      <h1>Are you a Doctor or Patient ?</h1>
      </br><br>
      <p>Please select appropriate button to register</p>
      
    </div> 
    
    <!--
    <button type="" class="btn"
    href="#/patient_register"> Patient Registration
    
    </button>  -->

    <p><a ng-href="#/patient_register"> Patient Registration</a></p>  
    <!--
    <button type="" class="btn"
    href="#/doctor_register"> Doctor Registration 

    </button>  -->
    <p><a ng-href="#/doctor_register"> Doctor Registration</a></p>   

 </section>


